/* General Styling */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black; 
}

main h1 {
    margin-top: 58px; 
}

/* Header */
header {
    background-color: rgb(43, 41, 41); 
    color: white; 
    height: 70px; 
    line-height: 70px; 
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    justify-content: flex-start; 
    padding-left: 1rem; 
    position: absolute;
    top: 0px;
}

header nav {
    display: flex;
    justify-items: left;
}

header nav a {
    color:#00b8d4; 
    margin-right: 2rem; 
    text-decoration: none;
    font-weight: normal;
}

header nav a:hover {
    color: white; 
}

header nav a.active {
    color: #b2f5ea; 
    font-weight: bold;
}

header nav a.active:hover {
    color: white; 
}

/* Footer */
footer {
    background-color:rgb(43, 41, 41); 
    color: white; 
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    box-sizing: border-box;
    position: relative;
    bottom: 0px;
}

footer p {
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
}

main h1.contact-heading {
    margin-top: 32px; 
}

/* Main Content */
main {
    text-align: center;
    padding: 0 2rem;
    color: white;
    margin-top: 128px; 
    margin-bottom: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.circle {
    border-radius: 100px; 
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.portrait {
    object-fit: cover; 
    margin-bottom: 0;
    width: 200px; 
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.email {
    font-family: 'Times New Roman', serif;
}


table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    color: white; 
    background-color: rgb(43, 41, 41); 
}


.table-container th, 
.table-container td {
    width: 16.667%; /* Divide by the number of columns */
}

th, td {
    border: 1px solid #fff; 
    padding: 8px; 
    text-align: center;
}

th {
    background-color: #444; 
}

td {
    background-color: #555; 
}


.lecture {
    background-color: #00b8d4;
}

.table-container {
    overflow-x: auto;
    width: 80%;
    align-self: center;
}
 label, p, h1, h2 {
    padding: 0.5 rem;
 }

/* Responsive Design */
@media (max-width: 768px) {
    header, footer {
        padding: 0 1rem; 
    }

    main {
        margin: 128px 0.5rem; 
    }

    header a {
        margin-right: 1rem; 
    }

    .project-card img {
        width: 100%; 
    }
       

    .project-card {
        margin: 0.5em;
      }
    
      .project-tags-container{
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
      }

      .table-container {
        overflow-x: scroll;
        width: 100%;
    }

}

@media (max-width: 450px) {
    header, footer {
        padding: 0 0.5rem; 
    }
}

/* List Styling */
ul {
    align-self: center;
}

ul li::before {
    color: white; 
}

li {
    text-align: left; 
    padding-left: 1em; 
}

/* Project Cards Styling */
  
 
.project-card {
    background-color: #333;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(246, 244, 244, 0.2);
    border-radius: 5px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    border: 1px solid #fff;
  }
  
  .project-image {
    max-width: 80%;
    display: block;
    border-radius: 5px;
    margin: 2rem auto;
  }
  
  .project-info {
    padding: 16px;
  }
  
  .project-title {
    margin-top: 0;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }
  
  .project-tags-container {
    margin-top: 10px;
  }
  
  .project-tag {
    display: inline-block;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    color: black;
    font-size: 0.8em;
  }
  

/* Form Styling */

input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}
form {
    width: 80%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

select:invalid { color: gray; }
 

input[type="email"], input[type="file"], textarea, select {
    margin: 0.5rem 0;
    padding: 0.8rem;
    width:100%;
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    color: black; 
    border-radius: 10px;
}


.description{
    font-family: sans-serif;
    font-size: 13px;
}

.left-label{
    text-align: left;
    display: block;
}
button {
    padding: 0.8rem 1.2rem;
    background-color: #00b8d4;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top:  1rem; 
}

button:hover {
    background-color:  #b2f5ea;
}